/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family: "Plain Light";
    src: url(./fonts/plain-regular-webfont.ttf);
}

@font-face {
    font-family: "Plain Light";
    src: url(./fonts/plain-light-webfont.ttf);
}

@font-face {
    font-family: "silk serif";
    src: url(./fonts/silkserif-regularitalic-webfont.ttf);
}

@font-face {
    font-family: "silk serif";
    src: url(./fonts/silkserif-lightitalic-webfont.ttf);
}



*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Plain Light';
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
.mousefollower{
    border: 2px solid #fff;
    background-color: rgb(255,255, 255);
    scale: 2;
    mix-blend-mode: difference;
}
.cursor{
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.57) ;
    position: fixed;
    z-index: 9999;
    mix-blend-mode:difference;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
/* #0b0b0b */
.loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0b0b0b ;
    padding: 20vh 12vw;
}
.line{
    /* background-color: red; */
    line-height: fit-content;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 2vw;
}
.line h1{
    font-size: 6.5vw;
    font-weight: 900;
    text-transform: uppercase;
    
}
.line-part1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1vw;
   
}
.line-part1 h5,
.line-part1 h6{
    font-size: 3vw;
    font-weight: 100;
    font-family: 'silk serif';
}
.line-part1 h5{
    /* background-color: red; */
    width: 5vw;
    text-align: right;
}
.line h2{
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0;
    /* animation-name: anime; */
    -webkit-animation-duration: 3.5s;
            animation-duration: 3.5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
@-webkit-keyframes anime {
    0%{
        font-family: 'plain light';
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: 'plain light';
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;

    }
    /* 50 to 100% */
    50%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 1;

    }
    100%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 0;

    }
}
@keyframes anime {
    0%{
        font-family: 'plain light';
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: 'plain light';
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;

    }
    /* 50 to 100% */
    50%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 1;

    }
    100%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 0;

    }
}
.main{
    position: relative;
    /* background-color: #030303; */
    background-color: #151515;
    overflow: hidden;

}
.page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    margin-bottom: 10vh;
}
.page1 .nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.3vw 5.5vw;
}
.nav-part2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3vw;
}
.nav-part2 h4{
    font-size: 0.8vw;
    font-weight: 500;
    text-transform: capitalize;
}
.container{
    height: 100%;
    width: 100%;
    position: relative;
}

.container::before{
    content:"01";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: 18%;
    top: 0%;
}
.hero{
    /* background-color: red; */
    width: 73%;
    margin-left: 27%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 999;

}

.hero h1{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
    position: relative;
}


 .hero:nth-child(1){
    margin-top: 18vh;
} 
.hero h2,.hero h3{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
    border-bottom: 0.7vw solid #fff;
    padding-bottom: 1vw;
    /* transition: all ease 0.3s; */
}
.hero h2:hover{
    -webkit-text-stroke: 1.2px white;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.8vw solid #ffffffe0;

}

.page2
{
    height: 110vh;
    width: 100%;
    /* margin-top: 10vh; */
    position: relative;
    
    z-index:999

}

.video-container{
    height: 68vh;
    width: 74vw;
    position: relative;
    /* padding-top: 10vh; */
    top: 18vh;
    left: 28%;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    background-size: cover;
    background-position: center;
    background-color: red;
}
.video-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    top: 0;
}
.video-container video{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0;

}
.video-cursor{
    background-color: #FFA63D;
    height: 9vw;
    width: 9vw;
    position: absolute;
    border-radius: 50%;
    top: -15%;
    left: 70%;
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.video-cursor i{
    font-size: 2vw;
}
.page3{
    min-height: 100vh;
    width: 100%;
    /* background-color: #0b0b0b; */
    margin-bottom: 20vh;
    padding: 17vh 2vw;
    margin-top: 20vh;
}
.page3 h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
}
.page3 h1::before{
    content:"02";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: -15%;
    top: 8%;
}
.page3 .underline{
    height: 1px;
    background-color: #ffffffa0;
    margin: 5vw 0;
    width: 92%;

}
.page3-content
{
    width: 72vw;
    margin-left: 28%;
}
.img-div-container{
    /* background-color: red; */
    padding: 1vw;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align:start;
        -ms-flex-align:start;
            align-items:flex-start;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   gap: 2.4vw;
   margin: 5vw 1vw;

}
.img-div{
    height: 38vw;
    width: 29vw;
    position: relative;
    overflow: hidden;
    /* background-color: blue; */
    -ms-flex-negative: 0;
        flex-shrink: 0;
}
.img-div:nth-child(1){
    height: 30vw;
    width: 23vw;
}

.img-div img{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

.page3-circle1{
    height: 23vw;
    width: 23vw;
    border-radius: 50%;
    border: 1px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 5vw;  
    margin-top:53vh;
    position: relative;
}
.page3-circle1 svg.button__arrow {
    height: 30%;
}

.page3-circle2{
    height: 23vw;
    width: 23vw;
    border-radius: 50%;
    border: 1px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
}
.page3-circle2 svg.button__arrow {
    height: 30%;
    rotate: -45deg;
}
.page3-circle1:hover .circle-in{
    scale: 1;
}
.page3-circle1:hover p{
    scale: 1;
    opacity: 1;
}
.circle-in{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    /* color: #111; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    scale: 0;
    border-radius: 50%;
   -webkit-transition-delay: 0.6s;
        -o-transition-delay: 0.6s;
           transition-delay: 0.6s;
}

.circle-in p{
    font-size: 0.95vw;
    width: 60%;
    color: #111;
    font-weight: 500;
    scale: 0;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
   -webkit-transition-delay: 0.5s;
        -o-transition-delay: 0.5s;
           transition-delay: 0.5s;
}

.page3-circle2:hover .circle-in{
    scale: 1;
}
.page3-circle2:hover p{
    scale: 1;
    opacity: 1;
}






.page4{
    min-height: 100vh;
    width: 100%;
    /* background-color: #3e3b3b; */
    height: 100%;
    
    
}
.page4-content
{
    width: 72vw;
    margin-left: 28%;
}
.page4-content h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
}
.page4-content h1::before{
    content:"03";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: -15%;
    top: 8%;
}
.page4-content .underline{
    height: 1px;
    background-color: #ffffffa0;
    margin: 5vw 0;
    width: 92%;

}
.page4-content>p{
    font-size: 2.05vw;
    line-height: 2.05vw;
    width: 50%;
    margin-bottom: 3vw;
}
.page4-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.page4-flex img{
    width: 48%;
}
.page4-flex p{
    font-size: 1vw;
    width: 19%;
    margin-left: 1vw;
    margin-top: 0;
    margin-bottom: 1.5em;
    font-weight: 300;
}
.page4-blue-div{
    background-color: #3F7DF4;
    width: 33vw;
    padding: 3vw;
    position: relative;
    margin-top: -33.5vh;
    margin-left: 23vw;
}
.bluedivElem{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2.3vw 0;
    border-bottom: 2px solid #ffffffa9;
}
.bluedivElem h4{
    font-size: 1.48vw;
    font-weight: 500;
}
.bluedivElem p{
    width: 50%;
    font-size: 1vw;
}
.page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
}
.elem{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    /* margin-bottom: 2vw; */

}
.elem h1{
    font-size: 8vw;
    /* background-color: red; */

    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
    text-transform: uppercase;
    display: inline-block;
    /* margin-right: 16px; */
    -webkit-animation-name: animeText;
            animation-name: animeText;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 16s;
            animation-duration: 16s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;

}
@-webkit-keyframes animeText {
    from{
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    to{
        -webkit-transform: translateX(calc(-100% - 20px));
                transform: translateX(calc(-100% - 20px));
    }
    
}
@keyframes animeText {
    from{
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    to{
        -webkit-transform: translateX(calc(-100% - 20px));
                transform: translateX(calc(-100% - 20px));
    }
    
}
.elem2{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: 1.7vw;

}
.elem2 h1{
    font-size: 8vw;
    /* background-color: red; */

    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 16px;
    -webkit-transform: translateX(calc(-100% - 20px));
        -ms-transform: translateX(calc(-100% - 20px));
            transform: translateX(calc(-100% - 20px));
    -webkit-animation-name: animeText;
            animation-name: animeText;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 16s;
            animation-duration: 16s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    animation-direction: reverse;
}
.elem span,.elem2 span{
    font-style: italic;
    font-family: "silk-serif";
    color: transparent;
}
.footer{
    height: 108vh;
    width: 100%;
    /* background-color: red; */
    position: relative;
    /* padding-right: vw; */


}
.footer-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 5vw 1vw;
}
.foot{
    width: 72vw;
    margin-left: 28%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
.foot .underline{
    height: 1px;
    background-color: #ffffffa0;
    margin: 4.3vw 0 2.5vw 0;
    width: 92%;
}
.footer h1{
    font-size: 8vw;
    text-transform: uppercase;
    position: relative;
    /* background-color: #3F7DF4; */
}
.footer h1::before{
    content:"04";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: -15%;
    top: 8%;
}
.footer-text{
    position: relative;
}
.footer h2{
    font-size: 8vw;
    text-transform: uppercase;
    position: absolute;
    top: -10%;
    font-weight: 500;
    opacity: 0;
    left: 0;
    font-family: "silk serif";
    background-color: red;

}
.footer h2 span{
    font-family: "silk serif";
    opacity: 0;
    -webkit-text-stroke:  1px #fff;
    color: transparent;
    /* background-color: red; */
}

.footer-div h6{
    font-size: 1.1vw;
    margin-bottom: 1.5vw;
    font-weight: 400;
    text-transform: capitalize;
}
.box1{
    width: 20%;
}
.footer-div h5{
    font-size: 1.6vw;
    /* margin: 0.2vh 0; */
    font-weight: 500;
    text-transform: capitalize;

}
.foot-div{
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.foot-div h3{
    color: #fff;
    font-size: 1.5vw;
    font-weight: 400;

}
._canvas_container{
    z-index: 9999999 !important;
    pointer-events: none;
}
.flag{
    height: 25vw;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    opacity: 0;
}
#hero3{
    /* background-color: red; */
    z-index: 999;
    position: relative;
    
}
@media (max-width:600px){
    .loader{
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 999999;
        background-color: #030303;
        padding: 25vh 5vw;
    }
    .line{
        /* background-color: red; */
        line-height: fit-content;
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        gap: 2vw;
    }
    .line h1{
        font-size: 7vw;
        font-weight: 900;
        text-transform: uppercase;
        
    }
    .line-part1{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 1vw;
       
    }
    .line-part1 h5,
    .line-part1 h6{
        font-size: 3.5vw;
        font-weight: 100;
        font-family: 'silk serif';
    }
    .line-part1 h5{
        /* background-color: red; */
        width: 5vw;
        text-align: right;
    }
    .line h2{
        font-size: 7vw;
        text-transform: uppercase;
        font-weight: 900;
        opacity: 0;
        /* animation-name: anime; */
        -webkit-animation-duration: 2s;
                animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
    }
    

    .page1{
        height: 60vh;
        width: 100%;
        background-color: #151515;
        padding-top: 1px;
    }
    .page1 .nav{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 4.3vw 5vw;
        position: fixed;
        top: 0;
        /* background-color: red; */
        width: 100%;

    }
    .nav svg{
        scale: 0.8;
    }
    .nav-part2{
       display: none;
    }
    .nav-part2 h4{
        font-size: 0.8vw;
        font-weight: 600;
        text-transform: capitalize;
    }
    .container{
        height: 100%;
        width: 100%;
        position: relative;
       padding-top: 4vh;
    }
    
    .container::before{
        content:"01";
        position: absolute;
        font-size: 4.3vw;
        font-weight: 100;
        font-family: "silk serif";
        left: 5%;
        top: -75%;
    }
    .hero{
        /* background-color: red; */
        width: 73%;
        margin-left: 5%;
        
        /* height: fit-content;
        overflow: hidden;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 999;
     */
    }
    
    .hero h1{
        font-size: 9.8vw;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 10vw;
        position: relative;
    }
    
    
     .hero:nth-child(1){
        margin-top: 18vh;
    } 
    .hero h2,.hero h3{
        font-size: 9.8vw;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 10vw;
         border-bottom: 0.8vw solid #fff;
        padding-bottom: 1vw; 
        /* transition: all ease 0.3s; */
    }
    .hero h2:hover{
        -webkit-text-stroke: 1.2px white;
        color: transparent;
        font-weight: 500;
        border-bottom: 0.8vw solid #ffffffe0;
    
    }
    
    .page2
    {
        height: 80vh;
        width: 100%;
        padding-top: 6vh;
        position: relative;

}

.video-container{
    height: 52vh;
    width: 100vw;
    position: relative;
    left: 0%;
    top: 3vh;
    /* background-color: red; */
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    background-size: cover;
    background-position: center;
    
}
.video-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    top: 0;
}
.video-container video{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0;

}
.video-cursor{
    background-color: #FFA63D;
    height: 20vw;
    width: 20vw;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.video-cursor i{
    font-size: 5vw;
}
.page3{
        min-height:-webkit-fit-content;
        min-height:-moz-fit-content;
        min-height:fit-content;
        width: 100%;
        /* background-color: rgb(61, 61, 61); */
        position: relative;
        padding: 17vh 3vw 0 3vw;
        margin-bottom: vh;
        margin-top: 33vh;
}
.page3 h1{
    font-size: 8.5vw;
        text-transform: uppercase;
        position: relative;
        margin-left: 2vw;
        margin-bottom: 5vw;
}
.page3 h1::before{
    content: "02";
    position: absolute;
    font-size: 5vw;
    font-weight: 100;
    font-family: "silk serif";
    left: 0%;
    top: -75%;
}
.page3 .underline{
    margin-left: 2vw;
    width: 125%;


}
.page3-content
{
    width: 73%;
        margin-left: 2.3%;
}
.img-div-container{
    /* background-color: red; */
    margin-top: 10vw;
        padding: 1vw;
    padding: 1vw;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align:start;
        -ms-flex-align:start;
            align-items:flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
  
   

}
.img-div{
    height: 112vw;
        width: 90vw;
         position: relative;
        overflow: hidden;
    /* background-color: blue; */
    margin: 1vw;
    margin-bottom: 8vw;
    
}
.img-div:nth-child(1){
    height: 118vw;
        width: 90vw;
}

.img-div img{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

.page3-circle1{
    display: none;
}


.page3-circle2{
    display: none;

}
.page4{
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    width: 100%;
    /* background-color: #3e3b3b; */
    height: 100%;
    /* margin-top: 90%; */
    
    
}
.page4-content
{
    width: 100%;
    margin: 0 5vw;
}
.page4-content h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
}
.page4-content h1::before{
    content:"03";
    position: absolute;
    font-size: 5vw;
    font-weight: 100;
    font-family: "silk serif";
    left: 0%;
    top: -75%;
}
.page4-content .underline{
    margin-left: 2vw;
    width: 90%;
}

.page4-content>p{
    font-size: 4.05vw;
        line-height: 4.05vw;
        width: 66%;
        margin-bottom: 7vw;
}
.page4-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
}
.page4-flex img{
    width: 90%;
}
.page4-flex p{
    font-size: 2vw;
    width: 50%;
    margin-left: 1vw;
    margin-top: 0px;
    margin-bottom: 3.5em;
    font-weight: 300;
}
.page4-blue-div{
    background-color: #3F7DF4;
    width: 90%;
    padding: 3vw;
    position: relative;
    margin-top: 1vw;
    margin-left: 0;
}
.bluedivElem{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 4.3vw 0;
    border-bottom: 2px solid #ffffffa9;
}
.bluedivElem h4{
    font-size: 3vw;
    font-weight: 500;
}
.bluedivElem p{
    width: 50%;
    font-size: 2vw;
}
.page5{
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    width: 100%;
    position: relative;
    padding: 5vw 0 22vw 0;
}
.elem{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    /* margin-bottom: 2vw; */

}
.elem h1{
    font-size:11vw;
    /* background-color: red; */

    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
    text-transform: uppercase;
    display: inline-block;
    /* margin-right: 16px; */
    -webkit-animation-name: animeText;
            animation-name: animeText;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 22s;
            animation-duration: 22s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;

}
@-webkit-keyframes animeText {
    from{
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    to{
        -webkit-transform: translateX(calc(-100% - 20px));
                transform: translateX(calc(-100% - 20px));
    }
    
}
@keyframes animeText {
    from{
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    to{
        -webkit-transform: translateX(calc(-100% - 20px));
                transform: translateX(calc(-100% - 20px));
    }
    
}
.elem2{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: 1.7vw;

}
.elem2 h1{
    font-size: 11vw;
    /* background-color: red; */

    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 16px;
    -webkit-transform: translateX(calc(-100% - 20px));
        -ms-transform: translateX(calc(-100% - 20px));
            transform: translateX(calc(-100% - 20px));
    -webkit-animation-name: animeText;
            animation-name: animeText;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 22s;
            animation-duration: 22s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    animation-direction: reverse;
}
.elem span,.elem2 span{
    font-style: italic;
    font-family: "silk-serif";
    color: transparent;
}
.footer{
    height: 108vh;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding-right: 2vw;


}
.footer-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
    padding-top: 5vw;
}
.foot{
    width: 100%;
    margin-left: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 24vw 5vw;
}
.foot .underline{
    height: 1px;
    background-color: #ffffffa0;
    margin: 4.3vw 0 2.5vw 0;
    width: 92%;
}
.footer h1{
    font-size: 8vw;
    text-transform: uppercase;
    position: relative;
    /* background-color: #3F7DF4; */
}
.footer h1::before{
    content:"04";
    position: absolute;
    font-size: 5vw;
    font-weight: 100;
    font-family: "silk serif";
    left: 0%;
    top: -75%;
}

.footer-div h6{
    font-size: 3.1vw;
        margin-bottom: 3.5vw;
        font-weight: 400;
}
.box1{
    width: 20%;
    margin-bottom: 4vw;
}
.footer-div h5{
    font-size: 4.6vw;
        /* margin: 0.2vh 0; */
        font-weight: 500;
        line-height: 4.6vw;
}
.foot-div{
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 12vh;
}
.foot-div h3{
    color: #fff;
        font-size: 3.6vw;
        font-weight: 500;

}
._canvas_container{
    z-index: 9999999 !important;
    pointer-events: none;
}
.flag{
    height: 25vw;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    opacity: 0;
}
#hero3{
    /* background-color: red; */
    z-index: 999;
    position: relative;
    
}

}